<table>
<tr><td>Mobile Brand:</td></tr>
<tr>
    <td><input type="text" ng-model="search" ng-change="myupdate()"></td>
</tr>
  <tr><td>Price limit:</td></tr>
<tr>
    <td><input type="number" min="2000" max="20000" step="1000" ng-model="mylimit" ng-change="updateto()" ></td>
</tr>
   
   <!--<tr>
    <td><input type="text" ng-model="search" ng-change="myupdate()"></td>
</tr>-->
<!--<tr>
    <td>Price Range:</td>
</tr>
<tr>
    <td><input type="number" min="2000" max="20000" step="1000" ng-model="limit" ></td>
</tr>-->
</table>